In [1]:
import IPython, ipywidgets, pandas
df = pandas.read_csv('../_data/iris.csv')

> A one liner to make an interactive table.

In [2]:
ipywidgets.interact(lambda i=[0, df.shape[0]]: df.iloc[int(i):int(i)+10])

     sepal_length  sepal_width  petal_length  petal_width    species
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica